In [15]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

Status overview & Dataframe Preparation

In [16]:
Vent = pd.read_csv("/Users/xinyuyangren/Documents/TU:e_Year2/Thesis/Aramis_Data_Warehouse/06_10_HourlyIndoor.csv")

#for 5,7,8,9 to rename br1 to br3

#Behav.rename(columns={'t_br1':'t_br3','rh_br1':'rh_br3','co2_br1':'co2_br3','con_br1':'con_br3','wc_br1':'wc_br3'}, inplace=True)

In [18]:
Vent1 = Vent[['date_trunc','8set_point_ventilation_unit']]

In [20]:
Vent1.describe()

       8set_point_ventilation_unit
count                 17902.000000
mean                      1.707686
std                       0.563261
min                       1.000000
25%                       1.000000
50%                       2.000000
75%                       2.000000
max                       3.000000

In [22]:
Vent1.columns = ['date_trunc','set_point_ventilation_unit']

In [23]:
Vent1

                date_trunc  set_point_ventilation_unit
0      2012-12-12 15:00:00                           2
1      2012-12-12 16:00:00                           2
2      2012-12-12 17:00:00                           2
3      2012-12-12 18:00:00                           2
4      2012-12-12 19:00:00                           2
5      2012-12-12 20:00:00                           2
6      2012-12-12 21:00:00                           2
7      2012-12-12 22:00:00                           2
8      2012-12-12 23:00:00                           2
9      2012-12-13 00:00:00                           2
10     2012-12-13 01:00:00                           2
11     2012-12-13 02:00:00                           2
12     2012-12-13 03:00:00                           1
13     2012-12-13 04:00:00                           1
14     2012-12-13 05:00:00                           1
15     2012-12-13 06:00:00                           2
16     2012-12-13 07:00:00                           1
17     2012-12-13 08:00:00                           2
18     2012-12-13 09:00:00                           2
19     2012-12-13 10:00:00                           1
20     2012-12-13 11:00:00                           2
21     2012-12-13 12:00:00                           2
22     2012-12-13 13:00:00                           2
23     2012-12-13 14:00:00                           2
24     2012-12-13 15:00:00                           2
25     2012-12-13 16:00:00                           2
26     2012-12-13 17:00:00                           2
27     2012-12-13 18:00:00                           2
28     2012-12-13 19:00:00                           2
29     2012-12-13 20:00:00                           2
...                    ...                         ...
17872  2015-01-04 10:00:00                           2
17873  2015-01-04 11:00:00                           3
17874  2015-01-04 12:00:00                           3
17875  2015-01-04 13:00:00                           3
17876  2015-01-04 14:00:00                           3
17877  2015-01-04 15:00:00                           3
17878  2015-01-04 16:00:00                           3
17879  2015-01-04 17:00:00                           3
17880  2015-01-04 18:00:00                           3
17881  2015-01-04 19:00:00                           3
17882  2015-01-04 20:00:00                           3
17883  2015-01-04 21:00:00                           3
17884  2015-01-04 22:00:00                           2
17885  2015-01-04 23:00:00                           2
17886  2015-01-05 00:00:00                           2
17887  2015-01-05 01:00:00                           2
17888  2015-01-05 02:00:00                           2
17889  2015-01-05 03:00:00                           2
17890  2015-01-05 04:00:00                           2
17891  2015-01-05 05:00:00                           2
17892  2015-01-05 06:00:00                           2
17893  2015-01-05 07:00:00                           2
17894  2015-01-05 08:00:00                           2
17895  2015-01-05 09:00:00                           2
17896  2015-01-05 10:00:00                           2
17897  2015-01-05 11:00:00                           2
17898  2015-01-05 12:00:00                           2
17899  2015-01-05 13:00:00                           2
17900  2015-01-05 14:00:00                           2
17901  2015-01-05 15:00:00                           2

[17902 rows x 2 columns]